server:
  port: 8080

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

app:
  exchange: demo.exchange
  routing:
    created: order.created
    paid: order.paid
    email: order.email
    confirmed: order.confirmed
